{% extends "base.html" %}
{% block title %}메모 목록{% endblock %}

{% block part_style %}
    <style>
        .article_box{
            width: 500px;
            background-color: aqua;
        }
        p > span{
            padding: 10px 20px;
            text-align: center;
        }
        p > span:first-of-type{
            width: 150px;
            display: inline-block;
        }
        ul {
            border-top: 2px solid gray;
        }
        ul > li > span{
            margin: 5px;
        }
        ul > li > span:first-of-type{
            width: 150px;
            display: inline-block;
        }
    </style>
{% endblock %}
{% block content %}
</head>
<body>
    <div class="article_box">
    <p>
        <span> 제목 </span>
        <span> 이름 </span> 
        <span> 작성 날짜 </span>
    </p>
    <ul>
    {% for article in article_list %}
     <li> <a href="/community/view_detail/{{ article.id }}"><span>{{article.title}}</span> 
        <span>{{ article.name }}</span>
        <span> {{ article.cdate|date:"Y년 M d일 D"}}</span>
    </li>
     {% endfor %}
    </ul>
    </div>
{% endblock content%}